<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.streethawk.core" version="1.7.4" xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>StreetHawkCore</name>
	<description> StreetHawk SDK plugin for analytics</description>	    
    <license>Apache 2.0</license>
    
    <keywords>push,messaging,deeplinking,referral,analytics,geofencing,beacons,marketing,automation,organic growth</keywords>
    <repo>https://github.com/streethawkphonegap/StreethawkPlugin</repo>
  	 <issue>support@streethawk.com</issue>
  	 
	<preference name="APP_KEY" />
    <preference name="URL_SCHEME"/>
	<js-module name="Streethawk" src="www/Streethawk.js">
		<clobbers target="cordova.plugins.Streethawk"/>
	</js-module>
	<platform name="android">
		
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Streethawk">
				<param name="android-package" value="com.streethawk.core.Streethawk"/>
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*/application/activity">
      <intent-filter>
        <data android:scheme="$URL_SCHEME"/>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </config-file>
		
		<config-file parent="/manifest" target="AndroidManifest.xml">
		   
		
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    		
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
		<meta-data android:name="streethawk_app_key" android:value="$APP_KEY"/>
				
		<receiver
            android:name="com.streethawk.library.core.StreethawkBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.streethawk.intent.action.gcm.STREETHAWK_APP_STATUS_CHK" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.streethawk.library.core.StreetHawkCoreService"
            android:enabled="true"
            android:exported="true" >
        </service>
		
		</config-file>
		<source-file src="src/android/Streethawkcore.jar" target-dir="libs/"/>
		<source-file src="src/android/Streethawk.java" target-dir="src/com/streethawk"/>
		
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Streethawk">
				<param name="ios-package" value="Streethawk"/>
			</feature>
		</config-file>
		
		<!-- Disable project assert -->
		<hook type="after_plugin_install" src="src/ios/Script/disable_assert.js" />
		<hook type="before_plugin_uninstall" src="src/ios/Script/disable_assert_uninstall.js" />
		
		<!-- Apply APP_KEY to Info.plist -->
		<config-file target="*-Info.plist" parent="APP_KEY">
            <string>$APP_KEY</string>
        </config-file>
        
        <!-- Apply URL_SCHEME to Info.plist -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLIconFile</key>
					<string>icon</string>					
					<key>CFBundleURLSchemes</key>
					<array>
						<string>$URL_SCHEME</string>
					</array>
				</dict>
			</array>
        </config-file>
        
        <!-- Add Background fetch to Info.plist -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
            </array>
        </config-file>
        
        <!-- Plugin source code -->
		<header-file src="src/ios/Streethawk.h" />
        <source-file src="src/ios/Streethawk.m" />
        
        <!-- Plugin native SDK -->
        <header-file src="src/ios/SDK/Core/Internal/SHAlertView.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHAlertView.m" />
        <header-file src="src/ios/SDK/Core/Internal/SHInstallHandler.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHInstallHandler.m" />
        <header-file src="src/ios/SDK/Core/Internal/SHLogger.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHLogger.m" />
        <header-file src="src/ios/SDK/Core/Internal/SHRequest.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHRequest.m" />
        <header-file src="src/ios/SDK/Core/Internal/SHUtils.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHUtils.m" />
        <header-file src="src/ios/SDK/Core/Internal/SHViewController.h" />
        <source-file src="src/ios/SDK/Core/Internal/SHViewController.m" />
        <header-file src="src/ios/SDK/Core/Private/SHActionSheet.h" />
        <source-file src="src/ios/SDK/Core/Private/SHActionSheet.m" />
        <header-file src="src/ios/SDK/Core/Private/SHAppStatus.h" />
        <source-file src="src/ios/SDK/Core/Private/SHAppStatus.m" />
        <header-file src="src/ios/SDK/Core/Private/SHChoiceViewController.h" />
        <source-file src="src/ios/SDK/Core/Private/SHChoiceViewController.m" />
        <header-file src="src/ios/SDK/Core/Private/SHCoverWindow.h" />
        <source-file src="src/ios/SDK/Core/Private/SHCoverWindow.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/SDK/Core/Private/SHDeepLinking.h" />
        <source-file src="src/ios/SDK/Core/Private/SHDeepLinking.m" />
        <header-file src="src/ios/SDK/Core/Private/SHFeedbackQueue.h" />
        <source-file src="src/ios/SDK/Core/Private/SHFeedbackQueue.m" />
        <header-file src="src/ios/SDK/Core/Private/SHFeedbackViewController.h" />
        <source-file src="src/ios/SDK/Core/Private/SHFeedbackViewController.m" />
        <header-file src="src/ios/SDK/Core/Private/SHInterceptor.h" />
        <source-file src="src/ios/SDK/Core/Private/SHInterceptor.m" />
        <header-file src="src/ios/SDK/Core/Private/SHPresentDialog.h" />
        <source-file src="src/ios/SDK/Core/Private/SHPresentDialog.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/SDK/Core/Publish/PushDataForApplication.h" />
        <source-file src="src/ios/SDK/Core/Publish/PushDataForApplication.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHApp.h" />
        <source-file src="src/ios/SDK/Core/Publish/SHApp.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHBaseViewController.h" />
        <source-file src="src/ios/SDK/Core/Publish/SHBaseViewController.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHFriendlyNameObject.h" />
        <source-file src="src/ios/SDK/Core/Publish/SHFriendlyNameObject.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHInstall.h" />
        <source-file src="src/ios/SDK/Core/Publish/SHInstall.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHObject.h" />
        <source-file src="src/ios/SDK/Core/Publish/SHObject.m" />
        <header-file src="src/ios/SDK/Core/Publish/SHTypes.h" />
        <header-file src="src/ios/SDK/Core/Publish/StreetHawkCore.h" />
        <header-file src="src/ios/SDK/ThirdParty/MBProgressHUD/SHMBProgressHUD.h" />
        <source-file src="src/ios/SDK/ThirdParty/MBProgressHUD/SHMBProgressHUD.m" />
        <header-file src="src/ios/SDK/ThirdParty/UIDevice_Extension/SHUIDevice-Hardware.h" />
        <source-file src="src/ios/SDK/ThirdParty/UIDevice_Extension/SHUIDevice-Hardware.m" />
        
        <!-- Location source code used in three plugins, add in core to avoid duplication. -->
        <header-file src="src/ios/SDK/Location/Internal/SHLocationManager.h" />
        <source-file src="src/ios/SDK/Location/Internal/SHLocationManager.m" />
        <header-file src="src/ios/SDK/Location/Publish/SHApp+Location.h" />
        <source-file src="src/ios/SDK/Location/Publish/SHApp+Location.m" />
        <header-file src="src/ios/SDK/ThirdParty/Reachability/SHReachability.h" />
        <source-file src="src/ios/SDK/ThirdParty/Reachability/SHReachability.m" />
        
        <!-- Add frameworks -->
        <framework src="libsqlite3.dylib" />
        <framework src="CoreTelephony.framework" />  
                      
        <framework src="CoreLocation.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="SystemConfiguration.framework" />
				
		<!-- Add resource bundle -->
		<resource-file src="src/ios/SDK/Resource/StreetHawkCoreRes.bundle" />
	</platform>
	<info> StreetHawk Analytics Plugin. Along with this, you will require other StreetHawk plugin
	    
	   1. streethawkgrowth     : For viral growth of your application
	                           : (cordova plugin add streethawkgrowth)
	   2. streethawkpush       : For push messaging in your application
	   								: (cordova plugin add streethawkpush)
	   3. streethawkbeacon 	   : For running beacon based campaigns     
	   								: (cordova plugin add streethawkbeacon)
	   4. streethawkgeofence   : For running geofence based campaings   
	   								: (cordova plugin add streethawkgeofence)
	   5. streethawklocations  : For running user's location based campaigns
	   								: (cordova plugin add streethawklocations)
	   6. streethawkfeeds      : For distributing feeds to your application users  
	   								: (cordova plugin add streethawkfeeds)
	</info>
</plugin>
